* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background: #84cc76;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
h1 {
  font-size: 3rem;
}
